/* Your custom styles goes here */



.summary {
	font-family: Courier;
	color: Green;
	font-size: 15px;
	font-style: italic;
}

.date {
	font-family: Courier;
	color: Red;
	font-size: 15px;
	font-style: italic;
}



/* Your custom styles goes here */

body {
  background: Silver;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 1em;
}

header {
  color: BlueViolet;
}

@nav-border: #fff;